MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/database
REDIS_URL=rediss://default:password@host:port
RESEND_API_KEY=re_123456789
RESEND_FROM=YourAppName <noreply@yourdomain.com>
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NODE_ENV=development
APIFY_API_TOKEN=apify_api_123456789
ENCRYPTION_KEY=your_32_byte_hex_encryption_key
ADMIN_SECRET_KEY=your_admin_secret_access_key
